{
    email {$ACME_EMAIL}
}

{$DOMAIN} {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options DENY
    }
    reverse_proxy frontend:3000
}
